body {
    font-family: helvetica, sans-serif
}

p {
    margin-left: 40px;
    margin-right: 100px;
}

ul li {
    margin-left: 20px;
    margin-right: 100px;
}

ol li {
    margin-left: 40px;
    margin-right: 100px;
}

blockquote {
    background-color: #eee;

    border: 3px black solid;
}
